In [8]:
from urllib.request import Request, urlopen
from bs4 import BeautifulSoup
import pandas as pd

In [9]:
lista_cds = ['cds-1-year', 'cds-2-years', 'cds-3-years', 
             'cds-4-years', 'cds-5-years', 'cds-7-years', 'cds-10-years']

In [10]:
headers = {'user-agent': 'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/106.0.0.0 Safari/537.36'}

In [11]:
lista_dfs = []

for ano_cds in lista_cds:

            url = f'https://br.investing.com/rates-bonds/brazil-{ano_cds}-usd-historical-data'

            req = Request(url, headers=headers)
            page = urlopen(req) 
            soup = BeautifulSoup(page, features='lxml')
            
            table = soup.find_all("table")[0]

            df_cds = pd.read_html(str(table))[0][['Último', 'Data']]
            df_cds = df_cds.set_index("Data")
            df_cds.index = pd.to_datetime(df_cds.index, format = "%d.%m.%Y")
            
            df_cds.columns = [ano_cds]
            
            lista_dfs.append(df_cds)
            
            
base_cds = pd.concat(lista_dfs, axis = 1)

base_cds

,cds-1-year,cds-2-years,cds-3-years,cds-4-years,cds-5-years,cds-7-years,cds-10-years
Data,,,,,,,
2024-09-04,4601,7107,9204,12177,15407,20862,24884
2024-09-03,4434,6106,8503,12212,15674,18585,26917
2024-09-02,4183,6637,8677,11720,14928,20423,24470
2024-08-30,4182,6637,8677,11721,14931,20430,24482
2024-08-29,4029,6394,8361,11293,14387,19689,23592
2024-08-28,3973,6306,8246,11138,14189,19421,23275
2024-08-27,4001,6349,8302,11216,14290,19559,23438
2024-08-26,4073,6464,8449,11407,14524,19859,23777
2024-08-23,4073,6464,8449,11407,14524,19859,23777
2024-08-22,4100,6507,8506,11486,14626,20005,23963
2024-08-21,3244,5736,8422,11440,14719,20160,24309
2024-08-20,3207,5658,8307,11288,14530,19916,24031
2024-08-19,3408,6009,8706,11782,15115,20674,24804
2024-08-16,3305,5904,8604,11688,15034,20624,24792
2024-08-15,3905,6506,9203,12279,15613,21172,25305
2024-08-14,4408,7008,9701,12769,16092,21628,25739
2024-08-13,4806,7406,10099,13167,16489,22025,26140
2024-08-12,4705,7305,10000,13071,16396,21938,26051
2024-08-09,4805,7404,10099,13172,16503,22061,26202
2024-08-08,5405,8004,10696,13765,17090,22639,26780
2024-08-07,5903,8501,11195,14267,17596,23153,27310
2024-08-06,6604,9101,11394,14362,17681,23211,27319