In [1]:
import pandas as pd
import os
import requests
import zipfile

pd.options.display.float_format = '{:.4f}'.format

In [2]:
ano = '2024'
mes = '07'
url = f'https://dados.cvm.gov.br/dados/FI/DOC/INF_DIARIO/DADOS/inf_diario_fi_{ano}{mes}.zip'

In [3]:
download = requests.get(url)

with open (f"inf_diario_fi_{ano}{mes}.zip", "wb") as arquivo_cvm:

    arquivo_cvm.write(download.content)

arquivo_zip = zipfile.ZipFile(f"inf_diario_fi_{ano}{mes}.zip")

In [6]:
dados_fundos = pd.read_csv(arquivo_zip.open(arquivo_zip.namelist()[0]), 
                                            sep = ';', encoding = 'ISO-8859-1')

dados_fundos

,TP_FUNDO,CNPJ_FUNDO,DT_COMPTC,VL_TOTAL,VL_QUOTA,VL_PATRIM_LIQ,CAPTC_DIA,RESG_DIA,NR_COTST
0,FI,00.017.024/0001-53,2024-07-01,1116441.7900,35.6855,1123045.7000,0.0000,0.0000,1
1,FI,00.017.024/0001-53,2024-07-02,1116883.1700,35.6968,1123399.7700,0.0000,0.0000,1
2,FI,00.017.024/0001-53,2024-07-03,1117322.1300,35.7080,1123751.9700,0.0000,0.0000,1
3,FI,00.017.024/0001-53,2024-07-04,1117758.5900,35.7191,1124101.7400,0.0000,0.0000,1
4,FI,00.017.024/0001-53,2024-07-05,1117887.0100,35.7301,1124449.0100,0.0000,0.0000,1
...,...,...,...,...,...,...,...,...,...
593651,FI,97.929.213/0001-34,2024-07-25,85830176.9000,11.9917,85834264.7500,0.0000,0.0000,2
593652,FI,97.929.213/0001-34,2024-07-26,86024213.9000,12.0187,86027661.9500,0.0000,0.0000,2
593653,FI,97.929.213/0001-34,2024-07-29,86057021.2200,12.0232,86059828.5000,0.0000,0.0000,2
593654,FI,97.929.213/0001-34,2024-07-30,86047233.8000,12.0217,86049400.1600,0.0000,0.0000,2
593655,FI,97.929.213/0001-34,2024-07-31,86301722.7000,12.0572,86303248.1900,0.0000,0.0000,2

In [5]:
dados_cadastro = pd.read_csv('https://dados.cvm.gov.br/dados/FI/CAD/DADOS/cad_fi.csv', 
                           sep = ";", encoding = 'ISO-8859-1')

dados_cadastro = dados_cadastro[['CNPJ_FUNDO', 'DENOM_SOCIAL']]
dados_cadastro = dados_cadastro.drop_duplicates()

dados_cadastro

C:\Users\joaof\AppData\Local\Temp\ipykernel_25496\1664911478.py:1: DtypeWarning: Columns (14,17,18,20,22,24,27,37,38,39,40) have mixed types. Specify dtype option on import or set low_memory=False.
  dados_cadastro = pd.read_csv('https://dados.cvm.gov.br/dados/FI/CAD/DADOS/cad_fi.csv',

               CNPJ_FUNDO                                       DENOM_SOCIAL
0      00.000.684/0001-21  DEUTSCHE BANK FDO APLIC QUOTAS FDO INV FINANCE...
1      00.000.731/0001-37  ITAMARITI CASH FUNDO APLICACAO QUOTAS FDOS INV...
2      00.000.732/0001-81  FUNDO APLIC. QUOTAS DE F.I. SANTANDER CURTO PRAZO
3      00.000.740/0001-28  FUNDO DE APLIC EM QUOTAS DE FUNDOS DE INV BMC ...
4      00.000.749/0001-39  BALANCE FUNDO APLICACAO QUOTAS FUNDO INVESTIME...
...                   ...                                                ...
80082  32.222.962/0001-81  Fundo de Financiamento da Indústria Cinematogr...
80083  48.879.897/0001-00  FUNDO DE  FINANCIAMENTO DA INDÚSTRIA CINEMATOG...
80084  52.714.528/0001-26  INVESTIMAGE 4 - FUNDO DE FINANCIAMENTO DA INDÚ...
80085  52.715.603/0001-73  INVESTIMAGE 5 - FUNDO DE FINANCIAMENTO DA INDÚ...
80086  56.945.213/0001-40  AQUARIUS - FUNDO DE FINANCIAMENTO DA INDÚSTRIA...

[70633 rows x 2 columns]

In [7]:
data_inicio_mes = (dados_fundos['DT_COMPTC'].sort_values(ascending= True).unique())[-0]
data_fim_mes = (dados_fundos['DT_COMPTC'].sort_values(ascending= True).unique())[-1]

dados_fundos_filtrado = dados_fundos[(dados_fundos['DT_COMPTC'].isin([data_inicio_mes, data_fim_mes]))]

dados_fundos_filtrado

,TP_FUNDO,CNPJ_FUNDO,DT_COMPTC,VL_TOTAL,VL_QUOTA,VL_PATRIM_LIQ,CAPTC_DIA,RESG_DIA,NR_COTST
0,FI,00.017.024/0001-53,2024-07-01,1116441.7900,35.6855,1123045.7000,0.0000,0.0000,1
22,FI,00.017.024/0001-53,2024-07-31,1121850.8700,35.9315,1127607.1800,0.0000,0.0000,1
23,FI,00.068.305/0001-35,2024-07-01,37609088.0700,37.0017,37595699.9500,0.0000,0.0000,5911
45,FI,00.068.305/0001-35,2024-07-31,37787981.4800,37.3051,37779850.9500,0.0000,3390.8300,5891
46,FI,00.071.477/0001-68,2024-07-01,1403637503.2000,13.1667,1403550297.3900,111234.6400,2463655.6500,41083
...,...,...,...,...,...,...,...,...,...
593609,FI,97.711.801/0001-05,2024-07-31,0.0000,0.0000,0.0000,0.0000,0.0000,0
593610,FI,97.929.197/0001-80,2024-07-01,128887995.0900,5.9527,128788035.6500,0.0000,563581.1700,12
593632,FI,97.929.197/0001-80,2024-07-31,132033244.0800,6.0971,131913208.3000,0.0000,0.0000,12
593633,FI,97.929.213/0001-34,2024-07-01,85152738.1300,11.8972,85158100.6800,0.0000,0.0000,2
593655,FI,97.929.213/0001-34,2024-07-31,86301722.7000,12.0572,86303248.1900,0.0000,0.0000,2

In [8]:
base_final = pd.merge(dados_fundos_filtrado, dados_cadastro, how = 'left',
                      left_on = ['CNPJ_FUNDO'], right_on = ['CNPJ_FUNDO'])

base_final = base_final[['CNPJ_FUNDO', 'DENOM_SOCIAL', 'DT_COMPTC', 'VL_QUOTA', 'VL_PATRIM_LIQ', 'NR_COTST' ]]

base_final = base_final.dropna()

base_final

,CNPJ_FUNDO,DENOM_SOCIAL,DT_COMPTC,VL_QUOTA,VL_PATRIM_LIQ,NR_COTST
0,00.017.024/0001-53,FUNDO DE INVESTIMENTO RENDA FIXA EXPONENCIAL,2024-07-01,35.6855,1123045.7000,1
1,00.017.024/0001-53,FUNDO DE INVESTIMENTO RENDA FIXA EXPONENCIAL,2024-07-31,35.9315,1127607.1800,1
2,00.068.305/0001-35,FUNDO DE INVESTIMENTO EM COTAS DE FUNDOS DE IN...,2024-07-01,37.0017,37595699.9500,5911
3,00.068.305/0001-35,FUNDO DE INVESTIMENTO EM COTAS DE FUNDOS DE IN...,2024-07-31,37.3051,37779850.9500,5891
4,00.071.477/0001-68,BB RENDA FIXA AUTOMÁTICO EMPRESA SIMPLES FUNDO...,2024-07-01,13.1667,1403550297.3900,41083
...,...,...,...,...,...,...
51641,97.711.801/0001-05,953 FUNDO DE INVESTIMENTO EM COTAS DE FUNDOS D...,2024-07-31,0.0000,0.0000,0
51642,97.929.197/0001-80,LECT FUNDO DE INVESTIMENTO EM COTAS DE FUNDOS ...,2024-07-01,5.9527,128788035.6500,12
51643,97.929.197/0001-80,LECT FUNDO DE INVESTIMENTO EM COTAS DE FUNDOS ...,2024-07-31,6.0971,131913208.3000,12
51644,97.929.213/0001-34,WHG SISTEMA II FUNDO DE INVESTIMENTO MULTIMERC...,2024-07-01,11.8972,85158100.6800,2
51645,97.929.213/0001-34,WHG SISTEMA II FUNDO DE INVESTIMENTO MULTIMERC...,2024-07-31,12.0572,86303248.1900,2

In [11]:
base_final[base_final['DENOM_SOCIAL'].str.contains('ARCA GRÃO')]

,CNPJ_FUNDO,DENOM_SOCIAL,DT_COMPTC,VL_QUOTA,VL_PATRIM_LIQ,NR_COTST
37538,42.794.402/0001-55,ARCA GRÃO PREVIDÊNCIA FUNDO DE INVESTIMENTO EM...,2024-07-01,1.2798,333692764.7800,1
37539,42.794.402/0001-55,ARCA GRÃO PREVIDÊNCIA FUNDO DE INVESTIMENTO EM...,2024-07-31,1.2976,354132807.6500,1
37546,42.794.534/0001-87,ARCA GRÃO PREVIDENCIA ADVISORY FUNDO DE INVEST...,2024-07-01,1.2799,362386233.1000,1
37547,42.794.534/0001-87,ARCA GRÃO PREVIDENCIA ADVISORY FUNDO DE INVEST...,2024-07-31,1.2976,384380973.1000,1
37770,42.847.903/0001-52,ARCA GRÃO PREVIDÊNCIA MASTER FUNDO DE INVESTIM...,2024-07-01,1.2948,781779534.6700,3
37771,42.847.903/0001-52,ARCA GRÃO PREVIDÊNCIA MASTER FUNDO DE INVESTIM...,2024-07-31,1.3135,833781176.2800,3
37792,42.848.021/0001-01,ARCA GRÃO PREVIDÊNCIA ACCESS FUNDO DE INVESTIM...,2024-07-01,1.2792,89264266.6700,1
37793,42.848.021/0001-01,ARCA GRÃO PREVIDÊNCIA ACCESS FUNDO DE INVESTIM...,2024-07-31,1.2969,99011287.1700,1
44949,50.128.847/0001-24,ARCA GRÃO FIC DE FUNDO DE INVESTIMENTO RENDA F...,2024-07-01,1.1432,83628513.6900,1
44950,50.128.847/0001-24,ARCA GRÃO FIC DE FUNDO DE INVESTIMENTO RENDA F...,2024-07-31,1.1549,91983514.4800,1
44951,50.129.135/0001-20,ARCA GRÃO FUNDO DE INVESTIMENTO RENDA FIXA PRE...,2024-07-01,1.1514,83247553.6800,1
44952,50.129.135/0001-20,ARCA GRÃO FUNDO DE INVESTIMENTO RENDA FIXA PRE...,2024-07-31,1.1639,91561817.6100,1